body{
    padding: 0; margin: 0; 
    background-image: url("/src/images/background.jpg");

   }
.h1{
   font-family: Jazz LET, fantasy;
   line-height: 30px;
   margin-top: 100px;
   margin-bottom: 30px;
}
.h2{
   line-height: 25px;
}
header{
   color:black;
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: top;
}
.header{
   font-family: Apple Chancery, 'Times New Roman', Times, serif;
   padding-right: 150px;
   font-weight: bold;
   

}
header a{
   text-decoration: none;
   float: left;
   font-size: 15px;
}

nav ul{
   display: flex;
}
nav ul li{
   list-style: none;
}
nav ul li a{
   text-decoration: none;
   display: inline-block;
   padding: 0 2px;
   font-size: 10px;
   margin-bottom: 50px;

}
a{
   color:rgb(165, 114, 42);
}

a:hover{
   transition: 2ms;
}
a:active{
   color:black;
}
a:visited{
   color:rgb(165, 114, 42);
}

#email{
   padding-right:20px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 10px;
   border-radius: 15px;

}
#password{
   padding-right:20px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-bottom: 10px;
   border-radius: 15px;
   display: inline-block;

}
#submit{
   background-color: rgb(165, 114, 42);
   border: none;
   color:beige;
   padding: 10px 15px;
   border-radius: 15px;
}
#submit:hover{
   cursor: pointer;
   background-color: rgb(168, 114, 49,0.8);
}
.footer{
   position: relative;
   bottom: 0;
   right:0;
   text-align: center;
}
body{
    background-image: url("/images/IMG_3912.JPG");
    background-repeat: repeat-x;
}
.icons{
    position: relative;
    display: grid;
    grid-template-columns: auto, auto, auto;
    transform: translateY(0px);
    transition: transform 40s;
    margin-bottom: 30px;
}
.instagram{
    margin-left:10%;
}
.instagram:hover , .facebook:hover, .twitter:hover{
    transform: translateY(-30px);
}
.facebook{
    margin-left:10%;
}
p{
    display: inline-block;
}
.contact{
    margin-top: 0; margin-bottom: 50px; 
    background-color: rgb(231, 198, 148); 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 35%;
    border-radius: 10px;
    
}
.centered{
    display: grid;
    margin-left: 30%;
    margin-right: 50%;
    line-height: 40px;
    font-size: 20px;
}
