body{
    font-size:17px;
    font-family: 'Times New Roman', Times, serif;
}
.h1{
    font-family: Jazz LET, fantasy;
    line-height: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.h2{
    line-height: 25px;
}
header{
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: top;
}
.header{
    font-family: Apple Chancery, 'Times New Roman', Times, serif;
    padding-right: 150px;
    font-weight: bold;
    

}
header a{
    text-decoration: none;
    float: left;
    font-size: 15px;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 0 2px;
    font-size: 10px;
    margin-bottom: 50px;

}
a{
    color:rgb(165, 114, 42);
}

a:hover{
    transition: 2ms;
}
a:active{
    color:black;
}
a:visited{
    color:rgb(165, 114, 42);
}
.main_body{
    display: grid;
    margin-left: 5%;
    margin-right: 40%;
    line-height: 30px;
    width: 85%;
}

._container{
    display: flex;
    flex-direction: row;

}
.par{
    max-width: 50%;
    margin-right: 5%;
}
.vid{
    flex:1;
    margin-right: 0;
}
.par1{
    max-width: 50%;
    margin-left: 5%;
}
header a{
    text-decoration: none;
    float: left;
    font-size: 15px;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 0 2px;
    font-size: 10px;
    margin-bottom: 50px;

}
a{
    color:rgb(165, 114, 42);
}

#email{
    padding-right:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    border:none;
}
#password{
    padding-right:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    display: inline-block;
    border: none;
}
#submit{
    background-color: rgb(165, 114, 42);
    border: none;
    color:beige;
    padding: 10px 15px;
    border-radius: 15px;
}
#submit:hover{
    cursor: pointer;
    background-color: rgb(168, 114, 49,0.8);
}
.footer{
    position: relative;
    bottom: 0;
    right:0;
    text-align: center;
}
