header{
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: top;
}
header a{
    text-decoration: none;
    float: left;
    font-size: 15px;
}

h1{
    padding-top: 30px;
    font-size: 30px;
    color: black;
    font-weight: lighter;

}

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 0 2px;
    font-size: 10px;
    margin-bottom: 50px;

}
a{
    color:rgb(165, 114, 42);
}

a:hover{
    transition: 2ms;
}
a:active{
    color:black;
}
a:visited{
    color:rgb(165, 114, 42);
}

.main_body{
    display: grid;
    margin-left: 5%;
    margin-right: 40%;
    line-height: 30px;
    width: 85%;
}

#email{
    padding-right:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
}
#password{
    padding-right:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    display: inline-block;
}
#submit{
    background-color: rgb(165, 114, 42);
    border: none;
    color:beige;
    padding: 10px 15px;
    border-radius: 15px;
}
#submit:hover{
    cursor: pointer;
    background-color: rgb(168, 114, 49,0.8);
}
.footer{
    position: relative;
    bottom: 0;
    right:0;
    text-align: center;
}
table{
  border-style: double;
  border-color: rgb(165, 114, 42);
  padding:5px;
}
td{
  border-top: solid;
  border-color: rgba(165, 114, 42);
}
