body{
    background-image: url("/images/background.jpg");
    font-size:17px;
    font-family: 'Times New Roman', Times, serif;
    
}
p, .h1{
    font-weight: lighter;
    font-size: medium;
    line-height: 30px;
}
.h2{
    font-size:smaller;
    line-height:30px;
    font-weight: lighter;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: top;
    padding-bottom: 15px;
    padding-top: 15px;
}
header a{
    text-decoration: none;
    float: left;
    font-size: 15px;
}


a{
    color:rgb(165, 114, 42);
}

a:hover{
    transition: 2ms;
}
a:active{
    color:black;
    text-decoration: underline;
}
a:visited{
    color:rgb(165, 114, 42);
}

.centered{
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10rem;
    font-size: 20px;
    margin-left: 0;
    margin-right: 25%;
    line-height: 40px;
}

.image{
    height: 500px;
    width:auto;
    margin-top: 10px;
    
}

.nav_list2{
    list-style: none;
}




#email{
    padding-right:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    border:none;
}
#password{
    padding-right:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    display: inline-block;
    border: none;
}
#submit{
    background-color: rgb(165, 114, 42);
    border: none;
    color:beige;
    padding: 10px 15px;
    border-radius: 15px;
}
#submit:hover{
    cursor: pointer;
    background-color: rgb(168, 114, 49,0.8);
}
.footer{
    position: relative;
    bottom: 0;
    right:0;
    text-align: center;
}